<div>
    <form class="needs-validation" novalidate>

        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationCustom05">Código</label>
                <input type="number" class="form-control" name="id" id="validationCustom05" ngDefaultControl
                    [(ngModel)]="empleado.codigo">
                <div class="valid-feedback">
                    Correcto!
                </div>
                <div class="invalid-feedback">
                    Por favor ingresa un dato valido.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="validationCustom01" ngDefaultControl
                    [(ngModel)]="empleado.nombre">
                <div class="valid-feedback">
                    Correcto!
                </div>
                <div class="invalid-feedback">
                    Por favor ingresa un dato valido.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">apellido</label>
                <input type="text" class="form-control" name="apellido" id="validationCustom02" ngDefaultControl
                    [(ngModel)]="empleado.apellido">
                <div class="valid-feedback">
                    Correcto!
                </div>
                <div class="invalid-feedback">
                    Por favor ingresa un dato valido.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Telefono</label>
                <input type="number" class="form-control" name="telefono" id="validationCustom03" ngDefaultControl
                    [(ngModel)]="empleado.telefono">
                <div class="valid-feedback">
                    Correcto!
                </div>
                <div class="invalid-feedback">
                    Por favor ingresa un dato valido.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom05">Correo</label>
                <input type="email" class="form-control" name="correo" id="validationCustom05" ngDefaultControl
                    [(ngModel)]="empleado.correo">
                <div class="valid-feedback">
                    Correcto!
                </div>
                <div class="invalid-feedback">
                    Por favor ingresa un dato valido.
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Direccion</label>
                <input type="text" class="form-control" name="direccion" id="validationCustom03" ngDefaultControl
                    [(ngModel)]="empleado.direccion">
                <div class="valid-feedback">
                    Correcto!
                </div>
                <div class="invalid-feedback">
                    Por favor ingresa un dato valido.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom05">Puesto</label>
                <input type="text" class="form-control" name="rfc" id="validationCustom05" ngDefaultControl
                    [(ngModel)]="empleado.puesto">
                <div class="valid-feedback">
                    Correcto!
                </div>
                <div class="invalid-feedback">
                    Por favor ingresa un dato valido.
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Estatus</label>
                <select class="form-control" id="estatus" name="estatus" ngDefaultControl
                    [(ngModel)]="empleado.estatus">
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>
                <div class="valid-feedback">
                    Correcto!
                </div>
                <div class="invalid-feedback">
                    Por favor ingresa un dato valido.
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Image</label>
                <input type="file" class="form-control" name="imagen" id="validationCustom03"
                    accept="image/png, image/jpeg, image/gif">
                <div class="valid-feedback">
                    Correcto!
                </div>
                <div class="invalid-feedback">
                    Por favor ingresa un dato valido.
                </div>
            </div>
        </div>

        <button class="btn btn-info" (click)="guardarEmp()">Guardar</button>
    </form>

</div>