<div class="container">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Empleados</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                Agregar
            </button>
        </div>
        <button class="btn btn-secondary" (click)="consultarTodoEmp()">Consultar</button>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Agregar Empleado</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-agregaremp></app-agregaremp>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="table-filter">
        <div class="row">

            <div class="col-sm-9">
                <button type="button" class="btn btn-info"><i class="fa fa-search"></i></button>
                <div class="filter-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="filter-group">
                    <label>Ubicación</label>
                    <select class="form-control" id="location">
                        <option value="">Todos</option>
                        <option value="Berlin">Berlin</option>
                        <option value="London">London</option>
                        <option value="Madrid">Madrid</option>
                        <option value="New York">New York</option>
                        <option value="Paris">Paris</option>
                    </select>
                </div>
                <div class="filter-group">
                    <label>Estado</label>
                    <select class="form-control" id="status">
                        <option value="">Todos</option>
                        <option value="Entregado">Entregado</option>
                        <option value="Enviada">Enviada</option>
                        <option value="Pendiente">Pendiente</option>
                        <option value="Cancelado">Cancelado</option>
                    </select>
                </div>
                <span class="filter-icon"><i class="fa fa-filter"></i></span>
            </div>

            <div class="col-sm-3 text-right">
                <div class="show-entries">
                    <span>Mostrar</span>
                    <select class="form-control" id="per_page">
                        <option>5</option>
                        <option>10</option>
                        <option selected="">15</option>
                        <option>20</option>
                    </select>

                </div>
            </div>


        </div>
    </div>

    <div class="table-responsive-xl">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th class="">Código</th>
                    <th class="">Nombre</th>
                    <th class="">Teléfono</th>
                    <th class="">Correo</th>
                    <th class="">Dirección</th>
                    <th class="">Fecha de contratación</th>
                    <th class="">Puesto</th>
                    <th class="">Imagen</th>
                    <th class="">Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let emp of empl | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td scope="row">{{emp.codigo}}</td>
                    <td>{{emp.nombre}}</td>
                    <td>{{emp.apellido}}</td>
                    <td>{{emp.telefono}}</td>
                    <td>{{emp.correo}}</td>
                    <td>{{emp.direccion}}</td>
                    <td>{{emp.puesto}}</td>
                    <td>{{emp.imagen}}</td>
                    <td>{{emp.estatus}}</td>

                </tr>
                
            </tbody>

        </table>
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
                    nextLabel="Siguiente"></pagination-controls>
    </div>
</div>