<section class="py-5">
    <div class="container-fluid">
        <div class="row">
            <!-- Count item widget-->
            <div class="col-xl-4 col-md-4 col-6 gy-4 gy-xl-0">
                <div class="d-flex">
                    <svg class="svg-icon svg-icon-sm svg-icon-heavy text-primary mt-1 flex-shrink-0">
                        <use xlink:href="#user-1"> </use>
                    </svg>
                    <div class="ms-2">
                        <h3 class="h4 text-dark text-uppercase fw-normal">Clientes</h3>
                        <p class="display-6 mb-0">25</p>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-4 col-md-4 col-6 gy-4 gy-xl-0">
                <div class="d-flex">
                    <svg class="svg-icon svg-icon-sm svg-icon-heavy text-primary mt-1 flex-shrink-0">
                        <use xlink:href="#survey-1"> </use>
                    </svg>
                    <div class="ms-2">
                        <h3 class="h4 text-dark text-uppercase fw-normal">Ordenes de Servicio</h3>
                        <p class="display-6 mb-0">400</p>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-4 col-md-4 col-6 gy-4 gy-xl-0">
                <div class="d-flex">
                    <svg class="svg-icon svg-icon-sm svg-icon-heavy text-primary mt-1 flex-shrink-0">
                        <use xlink:href="#list-details-1"> </use>
                    </svg>
                    <div class="ms-2">
                        <h3 class="h4 text-dark text-uppercase fw-normal">Dimensionamientos</h3>
                        <p class="display-6 mb-0">342</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <!-- Count item widget-->
            <div class="col-xl-4 col-md-4 col-6 gy-4 gy-xl-0">
                <div class="d-flex">
                    <svg class="svg-icon svg-icon-sm svg-icon-heavy text-primary mt-1 flex-shrink-0">
                        <use xlink:href="#numbers-1"> </use>
                    </svg>
                    <div class="ms-2">
                        <h3 class="h4 text-dark text-uppercase fw-normal">Cotizaciones Pendientes</h3>
                        <p class="display-6 mb-0">123</p>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-4 col-md-4 col-6 gy-4 gy-xl-0">
                <div class="d-flex">
                    <svg class="svg-icon svg-icon-sm svg-icon-heavy text-primary mt-1 flex-shrink-0">
                        <use xlink:href="#literature-1"> </use>
                    </svg>
                    <div class="ms-2">
                        <h3 class="h4 text-dark text-uppercase fw-normal">Cotizaciones Terminadas</h3>
                        <p class="display-6 mb-0">92</p>
                    </div>
                </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-4 col-md-4 col-6 gy-4 gy-xl-0">
                <div class="d-flex">
                    <svg class="svg-icon svg-icon-sm svg-icon-heavy text-primary mt-1 flex-shrink-0">
                        <use xlink:href="#paper-stack-1"> </use>
                    </svg>
                    <div class="ms-2">
                        <h3 class="h4 text-dark text-uppercase fw-normal">New Cases</h3>
                        <p class="text-gray-500 small">Last 7 days</p>
                        <p class="display-6 mb-0">70</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>