<nav class="side-navbar">
  <div class="side-navbar-inner">
    <!-- Sidebar Header    -->
    <div class="sidebar-header d-flex align-items-center justify-content-center p-3 mb-3">
      <!-- User Info-->
      <div class="sidenav-header-inner text-center">
        <div *ngIf="sesion.imagen=='undefined'; else otraimg">
          <img class="img-fluid rounded-circle avatar mb-3" src="http://localhost:3000/foto/defaultuser.png"
            alt="person">
        </div>
        <ng-template #otraimg>
          <img class="img-fluid rounded-circle avatar mb-3" src="{{sesion.imagen}}" alt="person">
        </ng-template>

        <h2 class="h5 text-white text-uppercase mb-0">{{sesion.nombre+ " "+ sesion.apellido}} </h2>
        <p class="text-sm mb-0 text-muted">{{sesion.puesto}}</p>
      </div>
      <!-- Small Brand information, appears on minimized sidebar--><a class="brand-small text-center" href=""
        routerLink="inicio">
        <img src="../../../../assets/img/iconNetBA.png" alt="" height="40px" style="padding: 0 100px">
      </a>
    </div>
    <!-- Sidebar Navigation Menus-->
    <span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Administración</span>
    <ul class="list-unstyled">
      <li class="sidebar-item"><a class="sidebar-link" href="" routerLink="administracion/empleados">
          <svg class="svg-icon svg-icon-xs svg-icon-heavy me-2">
            <use xlink:href="#user-1"> </use>
          </svg>Empleados </a></li>
      <li class="sidebar-item"><a class="sidebar-link" href="" routerLink="administracion/clientes">
          <svg class="svg-icon svg-icon-xs svg-icon-heavy me-2">
            <use xlink:href="#user-1"> </use>
          </svg>Clientes </a></li>
    </ul>

    <span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Almacen</span>
    <ul class="list-unstyled">
      <li class="sidebar-item"> <a class="sidebar-link" href="" routerLink="almacen/proveedores">
          <svg class="svg-icon svg-icon-xs svg-icon-heavy me-2">
            <use xlink:href="#real-estate-1"> </use>
          </svg>Proveedores</a></li>
      <li class="sidebar-item"> <a class="sidebar-link" href="" routerLink="almacen/productos">
          <svg class="svg-icon svg-icon-xs svg-icon-heavy me-2">
            <use xlink:href="#imac-screen-1"> </use>
          </svg>Productos</a></li>
      <li class="sidebar-item"> <a class="sidebar-link" href="" routerLink="almacen/servicios">
          <svg class="svg-icon svg-icon-xs svg-icon-heavy me-2">
            <use xlink:href="#quality-1"> </use>
          </svg>Servicios</a></li>
      <li class="sidebar-item"> <a class="sidebar-link" href="" routerLink="almacen/catalogo">
          <svg class="svg-icon svg-icon-xs svg-icon-heavy me-2">
            <use xlink:href="#security-shield-1"> </use>
          </svg>Catalogo</a></li>
    </ul>

    <span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Ventas</span>
    <ul class="list-unstyled">
      <li class="sidebar-item"><a class="sidebar-link" href="" routerLink="ventas/cotizaciones">
          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
            <use xlink:href="#chart-1"> </use>
          </svg>Cotizaciones </a></li>
    </ul>

    <span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Servicios</span>
    <ul class="list-unstyled">
      <li class="sidebar-item"><a class="sidebar-link" href="" routerLink="servicios/ordenesservicio">
          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
            <use xlink:href="#survey-1"> </use>
          </svg>Ordenes de Servicio </a></li>
      <li class="sidebar-item"><a class="sidebar-link" href="" routerLink="servicios/dimensionamientos">
          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
            <use xlink:href="#survey-1"> </use>
          </svg>Dimensionamientos </a></li>
    </ul>

  </div>
</nav>