<div>
    <form class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <img src="{{ this.ServiceCli.cliente.imagen }}" class="rounded-circle" alt="..." width="150"
                    height="150" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="validationCustom01" ngDefaultControl
                    [(ngModel)]="this.ServiceCli.cliente.nombre" />
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Por favor ingresa un dato valido.</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Tipo</label>
                <select class="form-select" aria-label="Default select example" name="tipo" id="validationCustom02"
                    ngDefaultControl [(ngModel)]="this.ServiceCli.cliente.tipo">
                    <option selected>Seleccionar</option>
                    <option value="Empresa">Empresa</option>
                    <option value="Independiente">Independiente</option>
                </select>
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Por favor ingresa un dato valido.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Direccion</label>
                <input type="text" class="form-control" name="direccion" id="validationCustom03" ngDefaultControl
                    [(ngModel)]="this.ServiceCli.cliente.direccion" />
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Por favor ingresa un dato valido.</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom05">RFC</label>
                <input type="text" class="form-control" name="rfc" id="validationCustom05" ngDefaultControl
                    [(ngModel)]="this.ServiceCli.cliente.rfc" />
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Por favor ingresa un dato valido.</div>
            </div>
        </div>
        <fieldset class="form-group">
            <legend>Responsable</legend>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Nombre</label>
                    <input type="text" class="form-control" name="nombreres" id="validationCustom01" ngDefaultControl
                        [(ngModel)]="this.ServiceCli.cliente.responsable.nombre" />
                    <div class="valid-feedback">Correcto!</div>
                    <div class="invalid-feedback">Por favor ingresa un dato valido.</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="validationCustom01" ngDefaultControl
                        [(ngModel)]="this.ServiceCli.cliente.responsable.apellido" />
                    <div class="valid-feedback">Correcto!</div>
                    <div class="invalid-feedback">Por favor ingresa un dato valido.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Télefono</label>
                    <input type="phone" class="form-control" name="telefono" id="validationCustom01" ngDefaultControl
                        [(ngModel)]="this.ServiceCli.cliente.responsable.telefono" />
                    <div class="valid-feedback">Correcto!</div>
                    <div class="invalid-feedback">Por favor ingresa un dato valido.</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Correo</label>
                    <input type="email" class="form-control" name="correo" id="validationCustom01" ngDefaultControl
                        [(ngModel)]="this.ServiceCli.cliente.responsable.correo" />
                    <div class="valid-feedback">Correcto!</div>
                    <div class="invalid-feedback">Por favor ingresa un dato valido.</div>
                </div>
            </div>
            <legend>Horario</legend>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Inicio</label>
                    <input type="time" class="form-control" name="inicio" id="validationCustom01" ngDefaultControl
                        [(ngModel)]="this.ServiceCli.cliente.horario.inicio" />
                    <div class="valid-feedback">Correcto!</div>
                    <div class="invalid-feedback">Por favor ingresa un dato valido.</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationCustom01">Fin</label>
                    <input type="time" class="form-control" name="fin" id="validationCustom01" ngDefaultControl
                        [(ngModel)]="this.ServiceCli.cliente.horario.fin" />
                    <div class="valid-feedback">Correcto!</div>
                    <div class="invalid-feedback">Por favor ingresa un dato valido.</div>
                </div>
            </div>
        </fieldset>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Estatus</label>
                <select class="form-control" id="estatus" name="estatus" ngDefaultControl
                    [(ngModel)]="this.ServiceCli.cliente.estatus">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Por favor ingresa un dato valido.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Image</label>
                <input type="file" class="form-control" name="imagen" id="validationCustom03"
                    accept="image/png, image/jpeg, image/gif" (change)="fotoseleccionada($event)" />
                <div class="valid-feedback">Correcto!</div>
                <div class="invalid-feedback">Por favor ingresa un dato valido.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <button class="btn btn-success" style="color: black" type="submit" (click)="modificarCli()">
                    Actualizar datos
                </button>
                <button data-toggle="modal" data-target="#confirmarEliminar" class="btn btn-danger">
                    Eliminar
                </button>
            </div>
        </div>
    </form>
    <div class="modal fade" id="confirmarEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    ¿Seguro que quieres eliminar a este cliente?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="eliminarCli(this.ServiceCli.cliente.codigo)">
                        Eliminar
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
